In [1]:
import numpy as np
import pandas as pd

In [35]:
data = pd.read_csv("healthcare-dataset-stroke-data.csv")
data.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [36]:
data = data[['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi', 'stroke']]
data

       age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0     67.0             0              1             228.69  36.6       1
1     61.0             0              0             202.21   NaN       1
2     80.0             0              1             105.92  32.5       1
3     49.0             0              0             171.23  34.4       1
4     79.0             1              0             174.12  24.0       1
...    ...           ...            ...                ...   ...     ...
5105  80.0             1              0              83.75   NaN       0
5106  81.0             0              0             125.20  40.0       0
5107  35.0             0              0              82.99  30.6       0
5108  51.0             0              0             166.29  25.6       0
5109  44.0             0              0              85.28  26.2       0

[5110 rows x 6 columns]

In [37]:
data.isna().sum()

age                    0
hypertension           0
heart_disease          0
avg_glucose_level      0
bmi                  201
stroke                 0
dtype: int64

In [38]:
data['bmi'].fillna(data['bmi'].median(), inplace=True)

data.isna().sum()

age                  0
hypertension         0
heart_disease        0
avg_glucose_level    0
bmi                  0
stroke               0
dtype: int64

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                5110 non-null   float64
 1   hypertension       5110 non-null   int64
 2   heart_disease      5110 non-null   int64
 3   avg_glucose_level  5110 non-null   float64
 4   bmi                5110 non-null   float64
 5   stroke             5110 non-null   int64
dtypes: float64(3), int64(3)
memory usage: 239.7 KB

In [44]:
column_numerical = ['age', 'avg_glucose_level', 'bmi']

data[column_numerical].describe()

               age  avg_glucose_level          bmi
count  5110.000000        5110.000000  5110.000000
mean     43.226614         106.147677    28.862035
std      22.612647          45.283560     7.699562
min       0.080000          55.120000    10.300000
25%      25.000000          77.245000    23.800000
50%      45.000000          91.885000    28.100000
75%      61.000000         114.090000    32.800000
max      82.000000         271.740000    97.600000